/* CSS para establecer el ancho máximo de los contenedores */
.Search-Container{
  width: 58rem;
  position: absolute;
  bottom: 40%;
  
}
.table-container {
  
  width: 10%; /* Cambia el ancho del contenedor de la tabla al 10% */
  max-width: 10px; /* Establece un ancho máximo para evitar que sea demasiado pequeño */
  overflow-x: auto; /* Agrega scroll horizontal si es necesario */
  margin-left:20rem ;
  padding-bottom:75rem ;
}

/* Estilos específicos para las celdas de la tabla */
.table-container th,
.table-container td {
 
  border: 1px solid #ccc; /* Añade bordes a las celdas */
  padding: 4px; /* Añade espacio interno a las celdas */
  overflow: hidden; /* Oculta el contenido que excede el tamaño de la celda */
  text-overflow: ellipsis; /* Añade puntos suspensivos para indicar contenido truncado */
  font-size: 14px; /* Reduce el tamaño de la letra */
}

/* Otros estilos */
.Search-input {
  margin-left:20rem ;
  font-size: 16px; /* Reducir el tamaño de la letra del input */
  padding: 9px;
  color: black;
  width: 100%;
  box-sizing: border-box;
  max-width: 350px; /* Establece un ancho máximo para evitar desbordamientos */
  overflow-y: auto; /* Aplica un scroll horizontal si el contenido excede el ancho máximo */
}

.Search-Container .input-wrapper {
  overflow-y: auto;
  height: 200px;
}
